openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Ask FEUP Web API'
  description: 'Web Resources Specification (A7) for Ask FEUP'

servers:
- url: http://db.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07   # MUDAR 

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Profile and User Settings'
  - name: 'M03: Search'
  - name: 'M04: Questions'
  - name: 'M05: User Administration and static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # MUDAR DEPOIS
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirects after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to homepage (top questions).'
                  value: '/feed'
                302Error:
                  description: 'Failed authentication. Redirects to login form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM, OWN, MOD'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirects to login page after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirects to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provides new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:  # MUDAR DEPOIS
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                picture:  # INCLUIR NA BASE DE DADOS / UML / WIKI... ETC
                  type: string
                  format: binary
              required:
                - email
                - password
                - username
                - password
                - name

      responses:
        '302':
          description: 'Redirects after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to user profile.'
                  value: '/users/{user_id}'
                302Failure:
                  description: 'Failed authentication. Redirect register form.'
                  value: '/register'

  /users/{user_id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the individual user profile. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M02: Profile and User Settings'

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
  /feed:
    get:
      operationId: R107
      summary: 'R107: View feed'
      description: 'Show the feed. Access: USR, Own, ADM, MOD'
      tags:
        - 'M05: User Administration and static pages'

      responses:
        '200':
          description: 'Ok. Show view feed UI'

  /settings/{id}:
    get:
      operationId: R202
      summary: 'R202: View settings'
      description: 'Show the settings. Access: USR, Own, ADM, MOD'
      tags:
        - 'M02: Profile and User Settings'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view settings UI'

  /api/settings/{id}:
    post:
      operationId: R203
      summary: 'R203: Edit profile settings action'
      description: 'Edit the profile settings. Access: USR, Own, ADM, MOD'
      tags:
        - 'M02: Profile and User Settings'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name: 
                  type: string
                email:
                  type: string
                new_password:
                    type: string
                confirm_pass:
                    type: string
              required:
                - username
                - name
                - email

      responses:
        '302':
          description: 'Redirects after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirects to user profile.'
                  value: '/settings/{id}'

        

  /questions/{question_id}:
    get:
      operationId: R201
      summary: 'R201: View questions details such as answers'
      description: 'Show the individual question information. Access: PUB, USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      parameters:
        - in: path
          name: question_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show question UI'

  /question/create:
    get:
      operationId: R202
      summary: 'R202: Displays the form for question creation'
      description: 'Provides the new question form. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

  /question/{id}/edit:
    get:
      operationId: R203
      summary: 'R203: Displays the form for question edition'
      description: 'Provides the question edition form. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show sign-up UI'
  

  /api/question:
    post:
      operationId: R204
      summary: 'R204: Question creation action'
      description: 'Processes the new question form submission. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                full_text:
                  type: string
                tags:
                  type: string
              required:
                - title
                - full_text
      responses:
        '302':
          description: 'Redirects after processing the new question information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirects to the question page.'
                  value: '/questions/{question_id}'
  /api/question/{id}:
    post:
      operationId: R405
      summary: 'R205: Question deletion action'
      description: 'Deletes a question. Access: OWN, ADM, MOD'
      tags:
        - 'M04: Questions'
      
      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirects after processing the question deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirects to homepage.'
                  value: '/feed'
  /api/question/update/{id}:
    post:
      operationId: R406
      summary: 'R206: Question update action'
      description: 'Updates a question. Access: OWN, ADM, MOD'
      tags:
        - 'M04: Questions'
      
      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                full_text:
                  type: string
              required:
                - title
                - full_text
      responses:
        '302':
          description: 'Redirects after processing the question update.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirects to question page.'
                  value: '/questions/{question_id}'
  /api/answer/{id}:
    put:
      operationId: R206
      summary: 'R206: Answer edition action'
      description: 'Processes the answer edition form submission. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_text:
                  type: string
                question_id:
                  type: integer
              required:
                - full_text
                - question_id
      responses:
        '302':
          description: 'Redirects after processing the answer edition.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edition. Redirects to the question page.'
                  value: '/questions/{question_id}'
  /api/answer/delete/{id}:
    delete:
      operationId: R207
      summary: 'R207: Answer deletion action'
      description: 'Deletes an answer. Access: OWN, ADM, MOD'
      tags:
        - 'M04: Questions'
      
      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirects after processing the answer deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirects to the question page.'
                  value: '/questions/{question_id}'
  /api/answer/edit/{id}:
    get:
      operationId: R208
      summary: 'R208: Displays the form for answer edition'
      description: 'Provides the answer edition form. Access: OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit UI'
  /api/answer/update/{id}:
    put:
      operationId: R209
      summary: 'R209: Answer edition update action'
      description: 'Processes the answer edition form submission. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M04: Questions'

      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_text:
                  type: string
              required:
                - full_text
      responses:
        '302':
          description: 'Redirects after processing the answer edition.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edition. Redirects to the question page.'
                  value: '/questions/{question_id}'
  /users:
    get:
      operationId: R401
      summary: 'R401: View all users'
      description: 'Show the list of all users. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M05: User Administration and static pages'
      responses:
        '200':
          description: 'Ok. Show users UI'
  /api/users/:
    get:
      operationId: R301
      summary: 'R301: Displays all users that match an exact search'
      description: 'Provides the list of users that match an exact search. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M03: Search'
      responses:
        '200':
          description: 'Ok. Show users'
  /browse:
    get:
      operationId: R302
      summary: 'R302: Displays the browse page'
      description: 'Provides the browse page. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M03: Search'
      responses:
        '200':
          description: 'Ok. Show browse UI'
  /api/browse:
    get:
      operationId: R303
      summary: 'R303: Displays all users that match a search'
      description: 'Provides the list of users that match a search. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M03: Search'
      responses:
        '200':
          description: 'Ok. Show users'
  /:
    get:
      operationId: R501
      summary: 'R501 Displays the homepage'
      description: 'Provides the homepage. Access: USR, OWN, ADM, MOD'
      tags:
      - 'M05: User Administration and static pages'
      responses:
        '200':
          description: 'Ok. Show homepage UI'