openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Ask FEUP Web API'
  description: 'Web Resources Specification (A7) for Ask FEUP'

servers:
- url: http://db.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07   # MUDAR 

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Questions'
  - name: 'M03: User administration'
  - name: 'M04: Static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: # MUDAR DEPOIS
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirects after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to homepage (top questions).'
                  value: '/feed'
                302Error:
                  description: 'Failed authentication. Redirects to login form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM, OWN, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirects to login page after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirects to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provides new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:  # MUDAR DEPOIS
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                picture:  # INCLUIR NA BASE DE DADOS / UML / WIKI... ETC
                  type: string
                  format: binary
              required:
                - email
                - password
                - username
                - password
                - name

      responses:
        '302':
          description: 'Redirects after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to user profile.'
                  value: '/users/{user_id}'
                302Failure:
                  description: 'Failed authentication. Redirect register form.'
                  value: '/register'

  /users/{user_id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
  /feed:
    get:
      operationId: R107
      summary: 'R107: View feed'
      description: 'Show the feed. Access: USR, Own, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show view feed UI'

  /settings/{id}:
    get:
      operationId: R108
      summary: 'R108: View settings'
      description: 'Show the settings. Access: USR, Own, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view settings UI'

  /api/settings/{id}:
    post:
      operationId: R109
      summary: 'R109: Edit profile settings action'
      description: 'Edit the profile settings. Access: USR, Own, ADM, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name: 
                  type: string
                email:
                  type: string
                new_password:
                    type: string
                confirm_pass:
                    type: string
              required:
                - username
                - name
                - email

      responses:
        '302':
          description: 'Redirects after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirects to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirects to user profile.'
                  value: '/settings/{id}'

        

  /questions/{question_id}:
    get:
      operationId: R201
      summary: 'R201: View questions details such as answers'
      description: 'Show the individual question information. Access: PUB, USR, OWN, ADM, MOD'
      tags:
        - 'M02: Questions'

      parameters:
        - in: path
          name: question_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show question UI'

  /question/create:
    get:
      operationId: R202
      summary: 'R202: Displays the form for question creation'
      description: 'Provides the new question form. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M02: Questions'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

  /api/question:
    post:
      operationId: R203
      summary: 'R203: Question creation action'
      description: 'Processes the new question form submission. Access: USR, OWN, ADM, MOD'
      tags:
        - 'M02: Questions'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                full_text:
                  type: string
                tags:
                  type: string
              required:
                - title
                - full_text
      responses:
        '302':
          description: 'Redirects after processing the new question information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirects to the question page.'
                  value: '/questions/{question_id}'
  /api/question/delete/{id}:
    post:
      operationId: R204
      summary: 'R204: Question deletion action'
      description: 'Deletes a question. Access: OWN, ADM, MOD'
      tags:
        - 'M02: Questions'
      
      parameters:
        - in: path
          name: "id"
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirects after processing the question deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirects to homepage.'
                  value: '/feed'
