:root {
    --primary-color: #3f72af;
}

body {
    color: #606c76;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

i {
    vertical-align:sub;
}

.card .question-stats {
    float: right;
}

.nav-link {
    color: #606c76;
}

.nav-link.active {
    color: var(--primary-color);
}

.link-dark {
    color:#606c76;
}

.btn {
    font-size: 1.6rem;
}

.dropdown-item {
    font-size: 1.5rem;
}