:root {
    --primary-color: #3f72af;
    --secondary-color: #606c76;
    --accent-color: #f4a259;
    --light-color: #a7a7a7;
    --background-color: #f3f3f3;
}

body {
    color: var(--secondary-color);
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
}

.c-primary {
    color: var(--primary-color);
}

.c-secondary {
    color: var(--secondary-color);
}

.c-accent {
    color: var(--accent-color);
}

.b-accent {
    background-color: var(--accent-color);
}

:target {
    background-color: var(--background-color);

}

#content {
    flex-grow: 1;
}

i {
    vertical-align:sub;
}

a {
    cursor: pointer;
}

footer * {
    color: var(--light-color);
}

form {
    margin: 0;
}

.sitemap li {
    list-style: none;
}

.sitemap li a {
    color: var(--light-color);
}

.card .question-stats {
    float: right;
}

.nav-link {
    color: var(--secondary-color);
}

.nav-link.active {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.nav-link:hover {
    background-color: var(--background-color);
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: var(--primary-color) !important;
}

.link-dark {
    color:var(--secondary-color);
}

.btn {
    font-size: 1.6rem;
}

.dropdown-item {
    font-size: 1.5rem;
}

.badge {
    background-color: var(--accent-color);
}

.title-blue {
    color: var(--primary-color);
}

.error-code {
    font-size: 17rem;
    font-weight: bold;
    color: var(--primary-color);
}

#tags option{
    font-size: 1.3rem;
}

textarea {
    resize: none;
}

hr {
    border: 0;
    height: 1px;
    margin: 1rem;
    background-color: var(--light-color);
}

input.direction + label {
    width: 5rem;
    text-align: center;
    padding: 0.7rem;
}

input.direction:checked + label {
    background-color: var(--background-color);
    border-radius: 1rem;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    cursor: pointer;
    font-weight: 400;
    color: var(--light-color);
}

input[type=radio]:hover + label {
    color: var(--secondary-color);
}

input[type=radio]:checked + label {
    color: var(--primary-color);
}

#questions-list {
    animation: fadeIn 0.8s;
}

.sticky-top { top: 3rem; }

.profile-tab {
    display: none;
    animation: fadeIn 0.8s;
}

.profile-tab-open {
    display: block;
}

.profile-nav {
    width: 25rem;
}

.dashboard-tab {
    display: none;
    animation: fadeIn 0.8s;
}

.tab-open {
    display: block;
}

.tab-closed {
    display: none;
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
}

.multi-check {
    font-weight: normal;
}

.hide{
    display: none;
}

.edit-text{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: var(--secondary-color);
    height: 200px;
}

.filter-option {
    background-color: var(--background-color);
    border-radius: 5rem;
    cursor: pointer;
}

.filter-option.active {
    background-color: var(--accent-color);
    color: white;
}

.filter-option > input {
    display: none;
}

/************************* Animations **************************/

.fade-in {
    animation: fadeIn 0.8s;
}

.fade-1 {
    animation: fadeInDelay 0.8s;
}

.fade-2 {
    animation: fadeInDelay 1.2s;
}

.fade-3 {
    animation: fadeInDelay 1.6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInDelay {
  0% { opacity: 0; }
  50% {opacity: 0;}
  100% { opacity: 1; }
}

.slide-left {
      position: relative;
      animation: slideLeft 0.8s ease-out;
    }

@keyframes slideLeft {
      0% {
        opacity: 0;
        right: -100px;
      }
    100% {
        opacity: 1;
        right: 0;
      }
    }

.slide-right {
      position: relative;
      animation: slideRight 0.8s ease-out;
    }

@keyframes slideRight {
      0% {
        opacity: 0;
        left: -100px;
      }
    100% {
        opacity: 1;
        left: 0;
      }
    }